#pragma once

const char* WIFI_SSID = "your-wifi-ssid";
const char* WIFI_PASS = "your-wifi-password";

// UTC Offset in hours, ex. 1 for Poland
const int UTC_OFFSET = 1;

// DST Region: "EU", "US", "NONE" (for others)
const char* DST_REGION = "EU";
